{{#section 'title'}}
  404 Not Found
{{/section}}

{{#section 'css'}}
  
{{/section}}

{{#section 'js'}}

{{/section}}

<div class="error-404">
    <img src="/images/404.jpg" class="error-img">
    Go <a href="/home">back</a>
</div>