{{#section 'title'}}
  HomePage
{{/section}}

{{#section 'css'}}
  <style>
      h1{
          margin-left: 450px;
      }
      h2{
          margin-left: 180px;
      }
      h3{
          margin-left: 180px;
          color: crimson;
          font-size: 25px;
      }
      h4{
          margin-left: 180px;
      }
      h5{
          margin-left: 180px;
          color: crimson;
          font-size: 25px;
      }
      h6{
          margin-left: 180px;
      }
      h7{
          margin-left: 350px;
      }
  </style>
{{/section}}

{{#section 'js'}}
    <body>
    <h1><img src="https://i.imgur.com/LyxiniE.png" weight="400" height="100"></h1>
    <h2><img src="https://i.imgur.com/tcZ5ptW.png"></h2>
    <h3>
        1.Chọn lĩnh vực
        <img src="https://i.imgur.com/sbkXzYD.png" usemap="#click"/>
        <map name="click">
            <area shape="rect" coords="0,0,180,90" href="homePage">
        </map>
        <img src="https://i.imgur.com/CPtcYFX.png" usemap="#click2"/>
        <map name="click2">
            <area shape="rect" coords="0,5,175,90" href="homePage">
        </map>
        <img src="https://i.imgur.com/R1GygjK.png" usemap="#click3"/>
        <map name="click3">
            <area shape="rect" coords="0,0,180,85" href="homePage">
        </map>
        <img src="https://i.imgur.com/NfSZ5st.png" usemap="#click4"/>
        <map name="click4">
            <area shape="rect" coords="0,0,180,90" href="homePage">
        </map>
    </h3>
    <h4><img src="https://i.imgur.com/6erBViY.png"/></h4>
    <h5>
        2.Chọn độ khó
        <img style="margin-left: 100px" src="https://i.imgur.com/Fh18NTc.png" usemap="#click5"/>
        <map name="click5">
            <area shape="rect" coords="5,5,180,90" href="homePage">
        </map>
        <img src="https://i.imgur.com/G2yZSLR.png" usemap="#click6"/>
        <map name="click6">
            <area shape="rect" coords="5,5,180,90" href="homePage">
        </map>
        <img src="https://i.imgur.com/x2Ap8Ru.png" usemap="#click7"/>
        <map name="click7">
            <area shape="rect" coords="0,0,175,90" href="homePage">
        </map>
    </h5>
    <h6><img src="https://i.imgur.com/oN5XFKP.png"/></h6>
    <h7>
        <img src="https://i.imgur.com/VkH8Umk.png" usemap="#workmap"/>
        <map name="workmap">
            <area shape="rect" coords="0,0,300,300" href="/quiz">
        </map>
        <img style="margin-left: 50px" src="https://i.imgur.com/khp7M6F.png" usemap="#workmap1"/>
        <map name="workmap1">
            <area shape="rect" coords="0,0,300,300" href="/pvp">
        </map>
    </h7>
    </body>
{{/section}}
