{{#section 'title'}}
  Getting Started
{{/section}}

{{#section 'css'}}

{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        var isDisabled = true
        $('#nickname').on('input', function() {
            $('#myIMg').css('opacity', 1);
            isDisabled = false;
        })
        $('#MyBtnStart').click(function() {
            if (!isDisabled)
                $('#MyBtnSubmit').click()
        })
    </script>
{{/section}}

{{#section 'loader'}}
  <div id="mainLoader"><img src="/assets/loader.png" /><br><span>0</span></div>
{{/section}}

<div id="logoHolder">
    <div class="mainContent fitImg">
        <div class="logo"><img src="/assets/logo.png" /></div>
        <br><br>
        <div class="preloadText fontPreload resizeFont"></div>
        <form method="POST" id="formNickname">
            <input type="text" name="nickname" id="nickname" class="form-control" required="required" 
                placeholder="Nhập nickname của bạn"/>  
            <input type="submit" style="display:none;" id="MyBtnSubmit">
        </form>
        <br>
        <div id="MyBtnStart" class="startImg buttonClick">
            <img id="myIMg" src="/assets/button_start.png" style="opacity: 0.5"/>
        </div>
    </div>
</div>