{{#section 'title'}}
  Getting Started
{{/section}}

{{#section 'css'}}
  
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        function showMess() {
            swal({
                type: 'error',
                title: 'Oops...',
                text: 'Chức năng này chưa được cài đặt'                
            })
        }
    </script>
{{/section}}

<form method="POST">
<div style="margin: auto; width: 50%;">
    
        <div>
            <img src="/images/Logos/question-mark2.png" width="40%" height="40%" style="float:left">
            <br>
            <input type="text" class="form-control nickname-box" id="nickname" name="nickname" required
                placeholder="Nhập Nickname của bạn">
        </div>
        <br>
        &nbsp&nbsp<input type="image" alt="Submit" src="https://i.imgur.com/mXncjKT.png">
</div>
</form>
<br><br>
<div style="margin: auto; width: 50%; clear:both">
    <input type="image" src="https://i.imgur.com/9jLRuPe.png" onclick="showMess()">
    &nbsp&nbsp
    <input type="image" src="https://i.imgur.com/7DArY2w.png" onclick="showMess()">
</div>