.swal2-popup {
    font-size: 1.6rem !important;
  }

.page-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-logo:hover {
    cursor: pointer;
}

.nickname-box {
    border: 2px solid DodgerBlue;
    border-width: 20px; 
    border-radius: 20px;
    height: 150px;
    width: 300px;
    padding: 12px 20px;
    font-size: 20px;
}

.error-404 {
    text-align: center;
    font-size: x-large;
}

.error-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
}

.menu {
    margin-left: 50px;
}

.choice-block {
    font-size: 25px;
    text-align: center;
}

ul.fields {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.fields li {
    display: inline;
    padding: 20px;
}

ul.fields li.active img {
    ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    border: 2px solid DodgerBlue;
    border-width: 5px; 
    border-radius: 20px;
}

ul.fields li img:hover {
    ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    cursor: pointer;
}

.row {
    border-style: solid;
}

.col-sm-4 {
    border-left: solid;
    text-align: center;
    padding: 10px;
}

.icon {
    width: 50px;
    height: 50px;
}

.col-sm-6 img{
    margin-right: -20px;
    width: 80px;
    height: 80px;
}

.col-sm-6 .row {
    margin-top: 10px;
    border-style: none;
}

.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#center {
    margin: auto 0;
    border-style: none;
}

.col-sm-8 {
    padding: 10px 0px 10px 0px;
    border-left: solid;
}

.col-sm-8 .row {
    border-style: none;
}

#question {
    border-radius: 5px;
    background: #73AD21;
    min-height: 50px;
    padding: 5px 10px 5px 10px;
}

button{
    border-radius: 100px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(30,144,255);
}

.col-sm-1 .marked {
    width: 40px;
    height: 40%;
    text-align: left;
}

.scores img{
    margin-left: -8px;
    margin-right: -8px;
}